In [1]:
!cd

C:\Users\Administrator\Desktop\python\jupyter

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = [1,2,3]
index = ['a','b','c']
s = pd.Series(data=data,index=index)

In [5]:
s

a    1
b    2
c    3
dtype: int64

In [6]:
s[0]

1

In [7]:
s[1:]

b    2
c    3
dtype: int64

In [9]:
s1 = s.copy()
s1

a    1
b    2
c    3
dtype: int64

In [10]:
s1['a'] = 10
s1

a    10
b     2
c     3
dtype: int64

In [11]:
s

a    1
b    2
c    3
dtype: int64

In [12]:
s1['d'] = 4
s1

a    10
b     2
c     3
d     4
dtype: int64

In [13]:
del s1['c']
s1

a    10
b     2
d     4
dtype: int64

In [14]:
data1 = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']
df = pd.DataFrame(data=data1,index=index,columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [15]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [19]:
df[1:]

   A  B  C
b  4  5  6

In [20]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

In [21]:
df.loc['a':'b']

   A  B  C
a  1  2  3
b  4  5  6

In [22]:
df.loc['a':'b','B']

a    2
b    5
Name: B, dtype: int64

In [27]:
df.loc[['a','b'],'A']

a    1
b    4
Name: A, dtype: int64

In [29]:
df.loc['b','C']

6

In [37]:
df.iloc[1,2]

6