import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(data=np.random.randint(0,150,size=(10,3)),index=list('ABCDEFGHIJ'),columns=['Python','Eng','Math'])

In [4]:
df

   Python  Eng  Math
A      71   74   147
B       9  109   142
C      85    2    72
D      67  125    60
E      40  148    99
F      32   82    42
G      48   34    50
H     120   72    89
I      13   68    51
J     105   21   142

In [5]:
df['Python']

A     71
B      9
C     85
D     67
E     40
F     32
G     48
H    120
I     13
J    105
Name: Python, dtype: int32

In [6]:
df['A']

KeyError: 'A'

In [7]:
df.loc['A']

Python     71
Eng        74
Math      147
Name: A, dtype: int32

In [8]:
df.loc['Python']

KeyError: 'Python'

In [10]:
df[['Python','Math']]

   Python  Math
A      71   147
B       9   142
C      85    72
D      67    60
E      40    99
F      32    42
G      48    50
H     120    89
I      13    51
J     105   142

In [12]:
df.loc['A':'E']

   Python  Eng  Math
A      71   74   147
B       9  109   142
C      85    2    72
D      67  125    60
E      40  148    99

In [13]:
df.loc[::2]

   Python  Eng  Math
A      71   74   147
C      85    2    72
E      40  148    99
G      48   34    50
I      13   68    51

In [22]:
df.loc['C':,'Eng':]

   Eng  Math
C    2    72
D  125    60
E  148    99
F   82    42
G   34    50
H   72    89
I   68    51
J   21   142

In [23]:
df.mean()

Python    59.0
Eng       73.5
Math      89.4
dtype: float64

In [24]:
df['Python'].mean()

59.0