In [1]:
import numpy as np
import pandas as pd

In [3]:
index = pd.MultiIndex.from_product([['China','India'],['2018','2019']])
index

MultiIndex([('China', '2018'),
            ('China', '2019'),
            ('India', '2018'),
            ('India', '2019')],
           )

In [4]:
data = [21351656,15612315,78942618,95462131]
pop = pd.Series(data,index)
pop

China  2018    21351656
       2019    15612315
India  2018    78942618
       2019    95462131
dtype: int64

In [7]:
pop[:,'2018']

China    21351656
India    78942618
dtype: int64

In [8]:
pop['China']

2018    21351656
2019    15612315
dtype: int64

In [15]:
index = pd.MultiIndex(levels=[['China','England'],['2010','2011']],codes=[[0,0,1,1],[0,1,0,1]])
index

MultiIndex([(  'China', '2010'),
            (  'China', '2011'),
            ('England', '2010'),
            ('England', '2011')],
           )

In [16]:
pop = pd.Series(data,index)
pop

China    2010    21351656
         2011    15612315
England  2010    78942618
         2011    95462131
dtype: int64

In [18]:
pop.index.names = ['State','years']
pop

State    years
China    2010     21351656
         2011     15612315
England  2010     78942618
         2011     95462131
dtype: int64

In [20]:
pop[('America','2010')] = 56478965
pop

State    years
China    2010     21351656
         2011     15612315
England  2010     78942618
         2011     95462131
America  2010     56478965
dtype: int64

In [21]:
pop_df = pop.unstack()
pop_df

years          2010        2011
State
China    21351656.0  15612315.0
England  78942618.0  95462131.0
America  56478965.0         NaN